[Unit]
Description=Batko Mae Pravo Bot - Webhook
After=network.target

[Service]
ExecStart=/root/bmp-bot/.venv/bin/python /root/bmp-bot/webhook.py
WorkingDirectory=/root/bmp-bot
Restart=always

[Install]
WantedBy=multi-user.target