[Unit]
Description=Batko Mae Pravo Bot
After=network.target

[Service]
ExecStart=/root/bmp-bot/.venv/bin/python /root/bmp-bot/main.py
WorkingDirectory=/root/bmp-bot
Restart=always

[Install]
WantedBy=multi-user.target